.btn {
  font-family: inherit;
  font-weight: 600;
  border: none;
  border-radius: 999px;

  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Sizes */
.btn--small {
  padding: 8px 16px;
  font-size: 14px;
}

.btn--medium {
  padding: 12px 24px;
  font-size: 16px;
}

.btn--large {
  padding: 16px 32px;
  font-size: 18px;
}

/* Variants */
.btn--primary {
  background-color: var(--color-secondary);
  color: var(--color-white);
}

.btn--primary:hover:not(:disabled) {
  background-color: var(--color-secondary-light);
  transform: translateY(-2px);
}

.btn--secondary {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

.btn--secondary:hover:not(:disabled) {
  background-color: var(--color-primary-hover);
  transform: translateY(-2px);
}

.btn--outline {
  background: transparent;
  border-color: var(--color-text-primary);
  border: 1px solid var(--color-text-primary);
  color: var(--color-text-primary);
}

.btn--black {
  background-color: var(--color-secondary);
  color: var(--color-white);
  border: 1px solid var(--color-secondary);
}

.btn--outline:hover:not(:disabled) {
  border-color: var(--color-text-primary);
  background-color: transparent;
  transform: translateY(-2px);
}