.faq-section {
    padding: 6rem 0;
    background-color: white;
}

.faq-title {
    font-size: clamp(2.5rem, 5vw, 3.5rem);
    text-align: center;
    margin-bottom: 4rem;
}

.text-gray {
    color: var(--color-gray-300);
}

.faq-container {
    max-width: 800px;
    margin: 0 auto;
}