.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.container--sm {
    max-width: 640px;
}

.container--md {
    max-width: 768px;
}

.container--lg {
    max-width: 1200px;
}

.container--xl {
    max-width: 1320px;
}

.container--full {
    max-width: 100%;
}

@media (min-width: 640px) {
    .container {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

@media (min-width: 1024px) {
    .container {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}